body{
    margin: 0;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
#loginCon{
    width: 30%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
}
.inp{
    width: 450px;
    height: 37px;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 5px;
    outline-color: #cdeaff;
    border-width: 1.5px;
    border-color: #65656554;
}
#textAr{
    height: 120px;
}
.inp:focus{
    box-shadow: 0px 0px 0px 4px #8fcefcc3;
}
#subButt{
    border-radius: 4px;
    font-size: 15.5px;
    border: none;
    width: 120px;
    height: 37px;
    color: white;
    background-color: #0c6dfd;
    margin-bottom: 15px;
    cursor: pointer;

}
p{
    margin-top: -7px;
    margin-bottom: 5px;
}
h1{
    margin-left: -150px;
}